@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffcf0;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}

main {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.block-desc {
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #495260;
    opacity: 0.8;
}

.logo {
    font-family: 'Bai Jamjuree', sans-serif;
}

.menu {
    max-width: 1339.8px;
    width: 100%;
    background-image: url(../img/nav-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 120px;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.menu ul li {
    height: 100%;
}

.menu ul li a {
    color: white;
    display: block;
    line-height: 39px;
    height: 100%;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fffcf0;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.block-banner {
    position: relative;
    background-image: url(../img/banner-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.banner-text {
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 20px rgba(1, 7, 1, 0.6);
    margin-bottom: 24px;
}

.banner-img {
    display: flex;
    justify-content: center;
}

.banner-content {
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
}

.btn-download-group {
    display: flex;
    justify-content: center;
}

.btn-download-group .btn-download {
    margin: 0 12px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.btn-download-group .btn-download:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

.about-img {
    max-width: 664.69px;
}

.about-img img {
    width: 100%;
}

.block-about {
    position: relative;
    z-index: 2;
    padding-top: 47px;
}

.block-about .block-title {
    margin-bottom: 20px;
    padding-left: 31px;
}

.block-about .block-title * {
    text-align: left;
}

.block-about .block-title .text-custom {
    min-height: 104px;
}

.block-about .block-desc {
    padding-left: 31px;
    padding-right: 31px;
}

.block-mechanism {
    padding-top: 150px;
    position: relative;
    padding-bottom: 120px;
    background: #99643a;
    top: -104px;
    z-index: 1;
    position: relative;
}

.block-mechanism .block-title {
    padding-left: 56px;
}

.block-mechanism .block-title * {
    text-align: left;
}

.block-mechanism::before {
    content: '';
    width: 100%;
    background: url(../img/topbar.png), #99643a;
    background-blend-mode: luminosity;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 92px;
}

.mechanims-item-title {
    font-family: 'Lithos Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fcf6df;
}

.mechanims-item-larger {
    padding: 56px 56px 80px;
    background-color: #865631;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 448px;
    clip-path: polygon(0% 0%, 92% 0%, 100% 8%, 100% 100%, 0% 100%);
}

.mechanims-item-small {
    padding: 32px 32px 40px;
    background-color: #865631;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 400px;
    clip-path: polygon(0% 0%, 92% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.mechanims-item-title {
    font-family: 'Lithos Pro';
    font-style: normal;
    font-weight: 850;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fcf6df;
}

.mechanims-header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.mechanims-icon {
    margin-right: 18px;
}

.mechanims-img2 {
    position: absolute;
    top: 151px;
    left: 387px;
}

.mechanims-item-desc {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fcf6df;
}

.mechanims-item-small.mb-32 {
    margin-bottom: 32px;
}

.mechanims-img {
    position: absolute;
    bottom: -115px;
    right: 0;
}

.block-feature {
    background-color: #fffcf0;
    position: relative;
}

.block-feature .block-title {
    margin-bottom: 50px;
}

.features-wrap {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.features-slide {
    padding-top: 84px;
}

.feature-img .larger,
.feature-img .mb {
    display: none;
}

@media (min-width: 1025px) {
    .features-slide .swiper-slide {
        transition: all 0.1s ease-in-out;
    }

    .swiper-slide-active.active,
    .swiper-slide-next.active {
        width: 264px !important;
        transition: all 0.1s ease-in-out;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide {
        max-width: 624px !important;
        width: 100% !important;
    }

    .features-item {
        text-align: center;
        position: relative;
        height: 284px;
        width: 100%;
        margin: 0 auto;
        clip-path: polygon(-50% -50%, 100% 0%, 100% 100%, 12% 100%, 0% 90%);
        transition: all 0.1s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 32px;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-item .mini {
        display: none;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-item .larger {
        display: block;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-desc {
        display: block;
        transition: all 0.1s ease-in-out;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .feature-img {
        transition: all 0.1s ease-in-out;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-item {
        padding-top: 0;
        display: flex;
        padding: 52px 41px 43px;
        transition: all 0.1s ease-in-out;
        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-end;
        clip-path: polygon(-50% -50%, 100% -50%, 100% 100%, 5% 100%, 0% 90%);
        transition: all 0.1s ease-in-out;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-item .feature-img {
        bottom: 33px;
    }

    .features-slide .swiper-slide.swiper-slide-next + .swiper-slide .features-meta {
        text-align: left;
        max-width: 228px;
        flex: 1;
        transition: all 0.1s ease-in-out;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.features-button-prev {
    left: -35px;
}

.features-button-next {
    right: -35px;
}

.features-item .features-meta .features-desc {
    display: none;
}

.features-item:hover {
    cursor: pointer;
}

.features-1 .features-item {
    background: linear-gradient(180deg, #e48950 0%, #a95827 100%);
}

.features-2 .features-item {
    background: linear-gradient(180deg, #b47645 15.49%, #845530 100%);
}

.features-3 .features-item {
    background: linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
}

.features-4 .features-item {
    background: linear-gradient(180deg, #e48950 0%, #a95827 100%);
}

.features-5 .features-item {
    background: linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
}

.features-6 .features-item {
    background: linear-gradient(180deg, #b47645 15.49%, #845530 100%);
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-1 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #e48950 0%, #a95827 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-2 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #b47645 15.49%, #845530 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-3 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-4 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #e48950 0%, #a95827 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-5 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.features-slide .swiper-slide.swiper-slide-next + .swiper-slide.features-6 .features-item {
    background: url(../img/bg-features-item.png), linear-gradient(180deg, #b47645 15.49%, #845530 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-blend-mode: luminosity;
}

.feature-img {
    position: relative;
    bottom: 26px;
    margin: 0 auto;
    text-align: center;
}

.features-title {
    font-family: 'Cowboys 2.0';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcf6df;
    margin-bottom: 8px;
}

.features-pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 43px;
    padding-bottom: 140px;
}

.features-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #837b60;
}

.features-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: linear-gradient(180deg, #f3a83f 0%, #d18d5f 100%);
}

.features-desc {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fcf6df;
}

.block-gameplay {
    padding-top: 100px;
    position: relative;
    background-color: #49794d;
    min-height: 846px;
}

.block-gameplay .block-title {
    width: 100%;
}

.block-gameplay .block-title .text-middle {
    background: linear-gradient(180deg, #7ec04a 0%, #6e9530 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.block-gameplay .block-title .text-back {
    background: linear-gradient(180deg, #7ec04a 0%, #6e9530 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.block-gameplay::before {
    content: '';
    width: 100%;
    background: url(../img/topbar-green.png), #49794d;
    background-blend-mode: luminosity;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 92px;
}

.block-gameplay .block-desc {
    padding-left: 60px;
}

.block-gameplay .block-desc {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fcf6df;
    opacity: 0.8;
}

.gameplay-video {
    max-width: calc(1200px - 24px);
    width: 100%;
    height: 780px;
    padding: 60px;
    background: linear-gradient(180deg, #fcf6df 0%, #fffcf0 100%);
    box-shadow: 4px 4px 30px rgba(68, 35, 5, 0.08);
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.gameplay-player {
    width: 100%;
    height: 100%;
}

.gameplay-player video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-btn-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.player-btn-wrap:hover {
    cursor: pointer;
}

.player-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcf6df;
}

.player-btn:hover {
    cursor: pointer;
}

.player-btn img {
    position: relative;
    left: 10px;
}

.image-decor {
    position: absolute;
}

.image-decor-1 {
    top: -32%;
    right: -21%;
    z-index: 3;
}

.image-decor-2 {
    top: 35%;
    left: -20%;
}

.block-nft-item {
    position: relative;
    padding-top: 484px;
    background-color: #fffcf0;
}

.block-nft-item .block-title * {
    text-align: left;
}

.block-nft-item .block-title {
    margin-bottom: 23px;
}

.nft-img {
    width: 100%;
}

.nft-img img {
    width: 100%;
}

.nft-item-swiper .swiper-cube .swiper-cube-shadow:before {
    display: none;
}

.nft-item-swiper .swiper-3d .swiper-slide-shadow-left,
.nft-item-swiper .swiper-3d .swiper-slide-shadow-right {
    display: none;
}

.nft-item:hover {
    cursor: pointer;
}

.nft-item:hover .nft-icon,
.nft-item.active .nft-icon {
    background: linear-gradient(180deg, #f3a83f 0%, #d18d5f 100%);
}

.nft-item:hover .nft-item-desc,
.nft-item.active .nft-item-desc {
    font-weight: bold;
    background: linear-gradient(180deg, #f3a83f 0%, #d18d5f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.nft-item-wrap {
    display: flex;
    justify-content: space-between;
}

.nft-meta-wrap {
    max-width: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nft-item-img {
    max-width: 769px;
    z-index: 3;
    position: relative;
}

.nft-item-img img {
    width: 100%;
}

.block-nft-item .block-desc {
    margin-bottom: 12px;
}

.nft-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.nft-icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #495260;
    border-radius: 100%;
}

.nft-icon img {
    object-fit: contain;
}

.nft-item-desc {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}

.block-economy {
    padding-top: 120px;
    padding-bottom: 72px;
    position: relative;
    background-color: #99643a;
    z-index: 1;
    top: -40px;
}

.block-economy::before {
    content: '';
    width: 100%;
    background: url(../img/topbar.png), #99643a;
    background-blend-mode: luminosity;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 92px;
}

.block-economy .block-title {
    margin-bottom: 84px;
}

.token-economy-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.token-economy-desc {
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #fcf6df;
}

.token-economy-item {
    display: flex;
    align-items: flex-start;
    padding: 32px 40px;
    background: #815330;
    clip-path: polygon(0% 0%, 80% 0%, 100% 16%, 100% 100%, 0% 100%);
    flex-direction: column;
    min-height: 368px;
    height: 100%;
}

.economy-left,
.economy-right {
    flex: 1;
    max-width: 280px;
}

.token-economy-title {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fcf6df;
    margin-bottom: 24px;
}

.token-economy-item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.token-economy-img {
    max-width: 631px;
}

.token-economy-img img {
    width: 100%;
}

.economy-item {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.economy-icon {
    margin-right: 8px;
}

.economy-title {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #fcf6df;
}

.block-roadmap {
    padding-top: 111px;
    position: relative;
    background-image: url(../img/roadmap-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
    min-height: 778px;
}

.roadmap {
    position: relative;
}

.roadmap-list {
    display: flex;
    padding-bottom: 178px;
}

.roadmap-item {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 49px;
}

.roadmap-img {
    min-height: 179px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 54px;
}

.roadmap-title {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #495260;
    margin-bottom: 12px;
}

.roadmap-desc {
    position: relative;
    left: 30px;
}

.roadmap-desc-list {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #495260;
}

.roadmap-desc-list li {
    line-height: 18px;
    margin-bottom: 17px;
    text-align: left;
}

.roadmap-line {
    position: absolute;
    top: 170px;
    width: 100%;
    left: 0;
    z-index: 2;
}

.roadmap-img {
    position: relative;
}

.roadmap-item-2 .roadmap-img {
    bottom: -4px;
}

.roadmap-item-3 .roadmap-img {
    bottom: -6px;
}

.roadmap-item-4 .roadmap-img {
    bottom: -18px;
}

.roadmap-item-5 .roadmap-img {
    bottom: -16px;
}

.roadmap-item-6 .roadmap-img {
    bottom: -18px;
}

.block-team {
    padding-bottom: 120px;
    position: relative;
    background: #fffcf0;
    padding-top: 80px;
}

.block-team .block-title {
    margin-bottom: 48px;
}

.slide-team-wrap {
    padding: 0 56px;
    position: relative;
}

.team-btn,
.features-btn {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #fffff9;
    box-shadow: 4px 4px 20px rgba(68, 35, 5, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.features-btn {
    top: 38%;
}

.team-button-prev {
    left: -35px;
}

.team-button-next {
    right: -35px;
}

.team-item-wrap {
    background-image: url(../img/team-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 4px 4px 20px rgba(68, 35, 5, 0.08);
    padding: 16px;
    min-height: 382px;
}

.team-ava {
    margin-bottom: 18px;
}

.team-ava img {
    width: 100%;
}

.team-name {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #495260;
}

.team-job {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #495260;
    margin-bottom: 12px;
}

.team-desc {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #495260;
    opacity: 0.8;
}

.slide-team-inner {
    padding-bottom: 30px;
}

.block-partner {
    padding-top: 100px;
    position: relative;
    background-color: #99643a;
}

.block-partner .block-title {
    margin-bottom: 73px;
}

.block-partner::before {
    content: '';
    width: 100%;
    background: url(../img/topbar.png), #99643a;
    background-blend-mode: luminosity;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 92px;
}

.row-partner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.parner-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-decor {
    position: absolute;
    left: 0;
    top: -115px;
    z-index: 2;
}

footer {
    padding-top: 110px;
    background-color: #99643a;
    position: relative;
    padding-bottom: 36px;
    /* top: -634px; */
}

.lis-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.lis-social li {
    margin: 0 6px;
}

.lis-social li a {
    display: block;
    transform: translateY(0px);
    transition: all 0.5s ease-in-out;
}

.lis-social li a:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}

.coppy-right {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
    text-align: center;
}

.footer-decor {
    position: absolute;
    bottom: 0;
    right: 0;
}

.block-vision {
    position: relative;
    z-index: 1;
    top: -73px;
}

.block-vision .block-title {
    margin-bottom: 40px;
}

.block-vision .block-content {
    background-image: url(../img/vision-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 663px;
    box-shadow: 4px 4px 20px rgba(68, 35, 5, 0.12);
    padding-top: 122px;
    position: relative;
}

.vision-item {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.vision-icon {
    margin-right: 16px;
}

.vision-title {
    font-family: 'Cowboys 2.0';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #f3a83f;
}

.vision-desc-item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.vision-desc-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.vision-desc-content {
    flex: 1;
}

.vision-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.vision-decor {
    position: absolute;
}

.vision-decor1 {
    top: 116px;
    left: -45px;
}

.vision-decor2 {
    bottom: 0;
    right: -135px;
}

.vision-desc-content {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #495260;
}

.block-location {
    padding-top: 60px;
}

.location-content {
    border: 10px solid transparent;
    padding: 15px;
    background-image: url(../img/bg-star.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 68px 68px;
}

.location-table {
    width: 100%;
}

.location-table img {
    width: 100%;
}

.btn-toggle-menu {
    background-color: #99643a;
    border-color: #99643a;
    color: white;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
}

.cloud1 {
    left: 73px;
    top: 219px;
}

.cloud2 {
    left: 294px;
    top: 294px;
}

.cloud3 {
    left: 778px;
    top: 109px;
}

.cloud4 {
    left: 1004px;
    top: 187px;
}

.cloud5 {
    left: 317px;
    top: 428px;
}

.cloud6 {
    left: 1231px;
    top: 306px;
}

.cloud7 {
    left: -366px;
    top: 437px;
}

.cloud8 {
    left: 223px;
    top: 591px;
}

.cloud9 {
    left: 49px;
    top: 627px;
}

.cloud10 {
    left: 801px;
    top: 577px;
}

.cloud11 {
    left: 923px;
    top: 577px;
}

.cloud-group {
    max-width: 1440px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.block-tokenomics {
    position: relative;
    padding-top: 80px;
}

.tokenomics-content {
    text-align: center;
    padding: 80px 0 120px;
    max-width: 840px;
    margin: 0 auto 137px;
}

.tokenomics-content img {
    width: 100%;
}

.tokenomics-decor {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#scene {
    width: 100%;
    height: 100%;
}

.block-location {
    position: relative;
}

.block-location .block-title {
    margin-bottom: 29px;
}

.block-location .block-title .text-custom {
    top: -14px;
}

.decor-allocation {
    position: absolute;
    top: -180px;
    left: 0;
    z-index: 2;
}

.text-custom {
    font-family: 'Lithos Pro';
    font-weight: 850;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fffcf0;
    position: relative;
    min-height: 50px;
    width: 100%;
}

.text-custom * {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.text-main {
    z-index: 3;
    position: absolute;
    top: 0;
}

.text-middle {
    background: linear-gradient(180deg, #f3a83f 0%, #d18d5f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -2px;
    left: calc(50% - 1.5px);
    z-index: 2;
    -webkit-box-decoration-break: clone;
}

.text-back {
    background: linear-gradient(180deg, #d89258 0%, #9d6b92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 2.5px;
    left: calc(50% + 3.5px);
    z-index: 1;
    -webkit-box-decoration-break: clone;
}

.pink {
    position: absolute !important;
    max-width: 406px;
    bottom: 262px;
    width: 100%;
}

.game-play-slider-wrap {
    margin-top: 32px;
}

.game-play-img-swiper img {
    width: 100%;
}

.game-play-img-swiper {
    box-shadow: 4px 4px 20px rgba(68, 35, 5, 0.2);
}

@media (max-width: 1440px) {
    .mechanims-img2 {
        left: 133px;
    }
}

@media (max-width: 1368px) {
    .text-custom {
        font-size: 30px;
    }

    .block-mechanism .block-title .text-custom {
        min-height: 100px;
    }

    .mechanims-img2 {
        left: 212px;
        top: 141px;
    }

    .nft-item-img {
        max-width: 560px;
    }

    .tokenomics-content {
        margin-bottom: 0;
    }

    .block-about .block-desc {
        line-height: 19px;
        padding-right: 0;
    }

    .block-gameplay .block-desc {
        line-height: 18px;
    }

    .image-decor {
        z-index: 2;
    }

    .token-economy-img img {
        width: 100%;
    }

    .roadmap-line img {
        width: 100%;
    }

    .roadmap-item-6 .roadmap-img {
        bottom: -11px;
    }

    .roadmap-desc-list li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .banner-text {
        font-size: 26px;
    }

    .vision-item {
        padding-right: 120px;
    }

    .location-content {
        padding: 0 40px 40px;
    }
}

@media (max-width: 1200px) {
    .tokenomics-decor img {
        width: 180px;
    }

    .decor-allocation {
        top: -100px;
    }

    .decor-allocation img {
        width: 240px;
    }

    .menu {
        padding: 0 70px;
    }

    .mechanims-img {
        width: 320px;
    }

    .mechanims-img img {
        width: 100%;
    }

    .block-economy {
        padding-top: 170px;
    }

    .footer-decor {
        width: 240px;
    }

    .footer-decor img {
        width: 100%;
    }

    .partner-decor {
        width: 200px;
    }

    .partner-decor img {
        width: 100%;
    }

    .image-decor-1 {
        width: 180px;
    }

    .image-decor-1 img {
        width: 100%;
    }

    .image-decor-2 {
        width: 100px;
    }

    .image-decor-2 img {
        width: 100%;
    }

    footer {
        padding-top: 100px;
    }

    .features-wrap {
        padding: 0 15px;
    }

    .features-button-next {
        right: 10px;
    }

    .features-button-prev {
        left: 10px;
    }

    .features-slide .swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-prev,
    .features-slide .swiper-slide.swiper-slide-duplicate-prev {
        max-width: 614px !important;
    }

    .cloud5 {
        left: 200px;
    }
}

@media (max-width: 1024px) {
    .menu {
        padding: 0;
    }

    .block-mechanism {
        top: -50px;
        padding-top: 130px;
    }

    .mechanims-item-larger {
        padding: 40px 28px 55px;
    }

    .block-economy {
        padding-top: 100px;
    }

    .block-gameplay {
        padding-top: 92px;
    }

    .token-economy-item {
        padding: 20px 29px;
    }

    .mechanims-img2 {
        width: 100px;
    }

    .mechanims-img2 img {
        width: 100%;
    }

    .block-feature {
        padding-top: 40px;
    }

    .features-pagination {
        padding-bottom: 100px;
    }

    .token-economy-img {
        max-width: 400px;
        margin: 0 20px;
    }

    .feature-img {
        position: relative;
        left: unset;
        text-align: center;
        transform: unset;
    }

    .features-desc {
        display: block !important;
    }

    .features-item {
        padding: 0 20px 40px;
        clip-path: polygon(-50% -50%, 100% 0%, 100% 100%, 12% 100%, 0% 90%);
    }

    .cloud5 {
        left: 100px;
    }

    .cloud3 {
        left: 700px;
    }

    .cloud4 {
        left: 900px;
    }
}

@media (max-width: 768px) {
    .tokenomics-decor {
        bottom: -125px;
    }

    .banner-text {
        font-size: 20px;
    }
    .main-menu-wrap {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999;
        width: 50%;
        background-color: #e78901;
        height: 100%;
        transition: all 0.5s ease-in-out;
    }

    .main-menu-wrap.active {
        right: 0%;
        transition: all 0.5s ease-in-out;
    }

    .menu ul {
        flex-direction: column;
        padding: 40px;
        height: 100%;
    }

    .btn-close-menu {
        position: absolute;
        z-index: 99999;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 40px 40px;
    }

    /* .block {
        top: 0;
    } */

    .about-img {
        max-width: 100%;
    }

    .block-about {
        padding-bottom: 40px;
        padding-top: 0;
    }

    .block-mechanism {
        padding: 40px 0;
    }

    .mechanims-item {
        max-width: 100%;
        margin-bottom: 24px;
        clip-path: polygon(0% 0%, 96% 0%, 100% 14%, 100% 100%, 0% 100%);
    }

    .mechanims-img {
        width: 240px;
    }

    .features-pagination {
        padding-bottom: 40px;
    }

    .block-gameplay .block-desc {
        padding-left: 0;
    }

    .gameplay-video {
        max-width: 600px;
        height: 400px;
        bottom: -15%;
        padding: 20px;
    }

    .block-gameplay {
        min-height: 610px;
    }

    .player-btn {
        width: 90px;
        height: 90px;
    }

    .player-btn img {
        width: 40%;
        left: 0;
    }

    .image-decor-1 {
        width: 100px;
        top: 40px;
    }

    .block-nft-item {
        padding: 140px 0 80px;
    }

    .token-economy-img {
        max-width: 400px;
        margin: 0 auto;
    }

    .token-economy-desc {
        margin-bottom: 24px;
    }

    .token-economy-item {
        clip-path: polygon(0% 0%, 94% 0%, 100% 14%, 100% 100%, 0% 100%);
    }

    .roadmap-line {
        display: none;
    }

    .team-button-next {
        right: -25px;
    }

    .team-button-prev {
        left: -25px;
    }

    .block-team {
        padding-top: 80px;
    }

    .block-partner {
        margin-bottom: 0;
    }

    footer {
        padding-top: 108px;
        padding-bottom: 81px;
    }

    .slide-team-wrap {
        padding: 0;
    }

    .team-btn {
        width: 50px;
        height: 50px;
    }

    .vision-decor1 {
        top: 73px;
    }

    .block-vision .block-content {
        padding: 80px 50px 20px 60px;
    }

    .block-mechanism {
        top: 0;
    }

    .mechanims-img2 {
        right: 0;
        left: unset;
    }

    .block-feature {
        padding-top: 104px;
    }

    .feature-img {
        height: 140px;
    }

    .features-btn {
        width: 30px;
        height: 30px;
    }

    .features-btn img {
        width: 20%;
    }

    .token-economy-wrap {
        flex-direction: column;
    }

    .economy-left,
    .economy-right {
        width: 100%;
    }

    .location-content {
        padding: 0 20px 20px;
    }

    footer {
        padding-top: 50px;
    }

    .block::before {
        background-size: cover;
    }

    .cloud2 {
        left: 218px;
        top: 294px;
    }

    .cloud1 {
        left: -43px;
        top: 219px;
    }

    .cloud3 {
        left: 597px;
    }

    .cloud4 {
        left: 698px;
    }

    .cloud7 {
        left: -331px;
        top: 437px;
    }

    .cloud9,
    .cloud5 {
        display: none;
    }
}

@media (max-width: 576px) {
    .game-play-slider-wrap {
        display: none;
    }
    
    .pink {
        max-width: 250px;
        bottom: 180px;
        width: 100%;
        z-index: 2;
    }

    .tokenomics-decor img {
        display: none;
    }

    .block-tokenomics {
        padding-top: 10px;
    }

    .token-economy-item {
        min-height: auto;
    }

    .tokenomics-content {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .decor-allocation img {
        display: none;
    }

    .menu {
        padding: 11px 34px 40px;
    }

    .btn-download-group {
        justify-content: space-between;
    }

    .block-vision .block-content {
        padding: 40px 20px 30px;
    }

    .vision-item {
        padding-right: 0;
    }

    .btn-download-group .btn-download {
        width: calc(100% / 3 - 8px);
        margin: 0;
    }

    .btn-download-group .btn-download img {
        width: 100%;
    }

    .gameplay-video {
        bottom: -20%;
    }

    .block-nft-item {
        padding: 150px 0 80px;
    }

    .team-btn {
        width: 30px;
        height: 30px;
    }

    .team-button-next {
        right: -10px;
    }

    .team-button-prev {
        left: -10px;
    }

    .parner-item {
        width: 50%;
        margin-bottom: 24px;
    }

    .row-partner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu-wrap.active {
        width: 80%;
    }

    footer {
        padding-top: 0;
    }

    .vision-decor2 {
        display: none;
    }

    .vision-decor1 {
        width: 100px;
        top: 30px;
    }

    .vision-decor1 img {
        width: 100%;
    }

    .block-vision .block-content {
        background-image: none;
        box-shadow: none;
        padding-top: 0;
    }

    .image-decor-2 {
        display: none;
    }

    .image-decor-2-mb {
        position: absolute;
        top: -17px;
        left: -24px;
        width: 107px;
        z-index: 2;
    }

    .image-decor-2-mb img {
        width: 100%;
    }

    .nft-item-wrap {
        flex-direction: column;
    }

    .location-content {
        padding: 10px;
    }

    .block-about .block-desc {
        padding-left: 0;
    }

    .block-location {
        padding-top: 10px;
    }

    .team-btn img {
        width: 10px;
    }

    .team-btn {
        top: 40%;
    }

    .parner-item {
        width: calc(100% / 3);
        margin-bottom: 0;
    }

    .parner-item img {
        width: 100%;
        object-fit: scale-down;
    }

    .row-partner1 .parner-item {
        width: 50%;
        margin-bottom: 20px;
    }

    .menu {
        background-image: url(../img/nav-bg-mobile.png);
    }

    .cloud2 {
        left: 293px;
        top: 294px;
    }

    .cloud1 {
        left: -126px;
        top: 219px;
    }

    .cloud7 {
        display: none;
    }

    .banner-img img {
        position: relative;
        width: 100%;
    }

    .partner-decor {
        top: -48px;
    }

    .partner-decor img {
        width: 149px;
    }

    .footer-decor {
        width: 180px;
    }

    .block {
        top: 0;
    }

    .banner-text {
        max-width: 196px;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
    }

    .banner-content {
        top: unset;
        bottom: 18%;
    }

    .block-banner {
        background-image: url(../img/banner-bg-mobile.png);
        min-height: 480px;
    }

    .cloud-mb-1 {
        left: 19px;
        top: -21px;
    }

    .cloud-mb-2 {
        left: 245px;
        top: 57px;
    }

    .cloud-mb-3 {
        left: -20px;
        top: 204px;
    }

    .cloud-mb-4 {
        left: -137px;
        top: 311px;
    }

    .cloud-mb-5 {
        left: 209px;
        top: 342px;
    }

    .text-custom {
        font-size: 32px;
    }

    .block-vision .block-title {
        min-height: 90px;
        margin-bottom: 29px;
    }

    .vision-header {
        justify-content: center;
    }

    .vision-item-1 {
        background-image: url(../img/vision-item-bg-1.png);
    }

    .vision-item-2 {
        background-image: url(../img/vision-item-bg-2.png);
    }

    .vision-item-1,
    .vision-item-2 {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }

    .block-vision .block-content {
        padding: 0;
    }

    .vision-meta {
        padding: 18px 20px 26px;
    }

    .vision-header {
        margin-bottom: 0;
    }

    .vision-header {
        top: -4px;
        position: relative;
    }

    .vision-decor-mb {
        position: absolute;
        right: -12px;
        bottom: -48px;
    }

    .vision-decor-mb-2 {
        position: absolute;
        top: -15px;
        left: 80px;
    }

    .vision-item {
        margin-bottom: 40px;
    }

    .block-about .block-title {
        padding-left: 0;
    }

    .block-about {
        padding-top: 48px;
    }

    .block-about .text-custom * {
        text-align: center;
    }

    .block-about .block-title .text-custom {
        min-height: 90px;
    }

    .block-about .block-desc {
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .block-mechanism {
        padding-top: 200px;
        top: -146px;
        z-index: 1;
    }

    .mechanims-img2 {
        left: -20px;
        right: unset;
        top: 230px;
    }

    .block-mechanism .block-title {
        min-height: 90px;
        margin-bottom: 32px;
        padding-left: 0;
    }

    .block-mechanism .block-title * {
        text-align: center;
    }

    .mechanims-item-desc {
        font-size: 15px;
    }

    .mechanims-item {
        clip-path: polygon(0% 0%, 93% 0%, 100% 10%, 100% 100%, 0% 100%);
    }

    .mechanims-img {
        bottom: -73px;
        right: -35px;
    }

    .block-feature {
        padding-top: 0;
        top: -66px;
    }

    .features-slide {
        padding-top: 0;
    }

    .block-feature .block-title {
        margin-bottom: 20px;
    }

    .features-btn {
        display: none;
    }

    .features-item {
        height: 226px;
    }

    .star-group {
        display: none;
    }

    .features-meta {
        padding-top: 24px;
    }

    .features-title {
        text-align: center;
    }

    .features-desc {
        max-width: 148px;
    }

    .features-item {
        padding: 0 20px 40px;
        clip-path: polygon(-50% -50%, 100% 0%, 100% 100%, 6% 100%, 0% 90%);
        width: 100%;
        position: relative;
    }

    .feature-img {
        position: absolute;
        bottom: 15px;
        right: 10px;
        height: auto;
    }

    .features-6 .features-desc {
        max-width: 188px;
    }

    .features-6 .feature-img {
        width: 106px;
        height: 160px;
        right: 8px;
    }

    .features-pagination {
        padding: 32px 0 35px;
        justify-content: center;
    }

    .features-slide .features-1 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #e48950 0%, #a95827 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .features-slide .features-2 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #b47645 15.49%, #845530 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .features-slide .features-3 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .features-slide .features-4 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #e48950 0%, #a95827 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .features-slide .features-5 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #66ae6c 0%, #426c45 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .features-slide .features-6 .features-item {
        background: url(../img/bg-features-item.png), linear-gradient(180deg, #b47645 15.49%, #845530 100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-blend-mode: luminosity;
    }

    .block-gameplay {
        top: -66px;
    }

    .block-gameplay .block-title {
        margin-bottom: 10px;
    }

    .block-gameplay .block-desc {
        font-size: 15px;
        line-height: 22px;
    }

    .gameplay-video {
        max-width: 335px;
        height: 218px;
        bottom: -109px;
    }

    .block-gameplay {
        min-height: 440px;
    }

    .block::before {
        background-image: url(../img/topbar-mb.png);
        height: 36.7px;
    }

    .player-btn {
        width: 60px;
        height: 60px;
    }

    .player-btn img {
        width: 24.64px;
        height: 27px;
    }

    .image-decor-1 {
        top: -60px;
    }

    .block-nft-item {
        padding: 94px 0 0;
    }

    .block-nft-item .block-title * {
        text-align: center;
    }

    .nft-meta-wrap {
        width: 100%;
        max-width: 100%;
    }

    .block-nft-item .block-desc {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .nft-items {
        margin-bottom: 24px;
    }

    .block-economy {
        padding-top: 226px;
        top: -158px;
        padding-bottom: 64px;
    }

    .token-economy-img {
        max-width: 340px;
        margin: 0 auto;
    }

    .block-economy .block-title {
        margin-bottom: 28px;
    }

    .token-economy-item {
        padding: 40px 0 54px 48px;
        clip-path: polygon(0% 0%, 84% 0%, 100% 11%, 100% 100%, 0% 100%);
    }

    .economy-left {
        margin-bottom: 16px;
    }

    .token-economy-title {
        margin-bottom: 20px;
    }

    .block-tokenomics {
        top: -158px;
        padding-top: 58px;
    }

    .tokenomics-content {
        padding: 33px 0 0;
        margin-bottom: 0;
    }

    .decor-tokenomics {
        position: absolute;
        top: -70px;
        left: 0;
        z-index: 4;
    }

    .block-location {
        top: -158px;
        padding-top: 100px;
    }

    .block-location .block-title {
        margin-bottom: 15px;
    }

    .block-location .block-title .text-custom {
        min-height: 100px;
        top: 0;
    }

    .location-content {
        padding: 0;
        background-image: none;
        border: none;
    }

    .block-location .text-custom {
        max-width: 243px;
        margin: 0 auto;
    }

    .location-table {
        overflow-x: scroll;
        padding-bottom: 32px;
    }

    .location-table img {
        width: 738px;
        height: 428px;
    }

    .block-roadmap {
        top: -158px;
        padding-top: 80px;
        background-image: url(../img/roadmap-bg-mb.png);
    }

    .block-roadmap .block-title {
        margin-bottom: 40px;
    }

    .roadmap-item {
        max-width: unset;
        width: 50%;
        margin-right: 0;
    }

    .roadmap-list {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .roadmap-desc-list {
        max-width: 140px;
    }

    .roadmap-line-mb {
        position: absolute;
        top: 0;
        left: -12px;
        right: -12px;
    }

    .roadmap-line-mb img {
        width: 100%;
    }

    .roadmap-line-mb-1 {
        top: 60px;
    }

    .roadmap-line-mb-2 {
        top: 457px;
    }

    .roadmap-line-mb-3 {
        top: 884px;
    }

    .roadmap-item-6 .roadmap-img {
        bottom: -15px;
    }

    .block-team {
        top: -158px;
        padding: 70px 0;
    }

    .team-btn {
        display: none;
    }

    .team-pagination {
        display: flex;
        justify-content: center;
        padding-top: 43px;
        padding-bottom: 70px;
    }

    .team-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #837b60;
    }

    .team-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: linear-gradient(180deg, #f3a83f 0%, #d18d5f 100%);
    }

    .block-team .swiper-slide-active {
        width: 242px !important;
    }

    .block-team .swiper-slide {
        left: -25px;
    }

    .team-ava {
        height: 200px;
    }

    .team-ava img {
        height: 100%;
    }

    .team-item-wrap {
        min-height: 412px;
    }

    .block-partner {
        top: -158px;
    }

    .block-partner .block-title {
        margin-bottom: 32px;
    }

    .row-partner1 .parner-item {
        width: 100%;
        max-width: 69px;
        margin-bottom: 0;
    }

    .row-partner {
        justify-content: space-between;
    }

    .row-partner {
        margin-bottom: 18px;
    }

    .row-partner-mb {
        display: flex;
        flex-wrap: wrap;
    }

    .row-partner-mb .parner-item {
        padding: 0 10px;
    }

    footer {
        padding-top: 72px;
        top: -158px;
        margin-bottom: -158px;
    }

    .feature-img .mini,
    .feature-img .larger {
        display: none;
    }

    .feature-img .mb {
        display: block;
    }

    .block-about {
        padding-bottom: 0;
    }

    .vision-item-2 {
        margin-bottom: 48px;
    }

    body {
        background-color: #fff;
    }

    .block-vision {
        background: linear-gradient(180deg, rgba(254, 251, 239, 0) 0%, #fefbef 33.72%);
        box-shadow: 4px 4px 20px rgba(68, 35, 5, 0.12);
    }

    .block-feature,
    .block-nft-item {
        background-color: #fff;
    }

    .block-tokenomics,
    .block-location {
        background-color: #fffcf0;
    }

    .block-roadmap {
        overflow: hidden;
    }

    .roadmap-list {
        top: -110px;
        position: relative;
    }
}

@media (max-width: 425px) {
    .banner-content {
        top: unset;
        bottom: 14%;
    }
}

@media (max-width: 375px) {
    .banner-content {
        top: unset;
        bottom: 24%;
    }

    .vision-decor-mb-2 {
        left: 60px;
    }

    .gameplay-video {
        bottom: -133px;
    }
}
